# API Gateway
API_GATEWAY_PORT=3000

# Aseguramientos Microservice
ASEGURAMIENTOS_PORT=3001

# Auth Microservice
AUTH_PORT=3002

# Circuitos Microservice
CIRCUITOS_PORT=3003

# NATS Configuration
NATS_URLS=nats://localhost:4222

# Node Environment
NODE_ENV=development
